daemon off;
#Heroku dynos have at least 4 cores.
worker_processes <%= ENV['NGINX_WORKERS'] || 4 %>;

events {
	use epoll;
	accept_mutex on;
	worker_connections <%= ENV['NGINX_WORKER_CONNECTIONS'] || 1024 %>;
}

http {
        gzip on;
        gzip_comp_level 2;
        gzip_min_length 512;

	server_tokens off;

	log_format l2met 'measure#nginx.service=$request_time request_id=$http_x_request_id';
	access_log <%= ENV['NGINX_ACCESS_LOG_PATH'] || 'logs/nginx/access.log' %> l2met;
	error_log <%= ENV['NGINX_ERROR_LOG_PATH'] || 'logs/nginx/error.log' %>;

	include mime.types;
	default_type application/octet-stream;
	sendfile on;

	#Must read the body in 5 seconds.
	client_body_timeout 5;

	upstream app_server {
		server unix:/tmp/nginx.socket fail_timeout=0;
 	}

	server {
		listen <%= ENV["PORT"] %>;
		server_name _;
		keepalive_timeout 5;

    location = /r {
      default_type     text/html;
      set_unescape_uri $the_url $arg_uri;

      if ($the_url ~ '^\w+:\/\/[^\/]+$') {
        set $the_url "$the_url/";
      }

      resolver            8.8.8.8;

      proxy_http_version  1.1;
      proxy_pass          $the_url;
      proxy_set_header    Accept-Encoding "";
      proxy_set_header    Host $proxy_host;
      proxy_set_header    Referer $the_url;
      proxy_set_header    Cookie "";
      proxy_hide_header   Set-Cookie;
      proxy_redirect      ~^(.*)$    $scheme://$host/r?uri=$1;

      proxy_buffer_size          128k;
      proxy_buffers              4 256k;
      proxy_busy_buffers_size    256k;

      sub_filter '<head>' '<head><base href="$the_url">';
      sub_filter 'window.top' 'window.self';
      sub_filter 'window.parent.frames' '[window.self]';

      proxy_ssl_server_name on;

      more_clear_headers 'X-Content-Type-Options';
      more_clear_headers 'X-Frame-Options';
      more_clear_headers 'Content-Security-Policy';
    }

		location / {
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header Host $http_host;
			proxy_redirect off;
			proxy_pass http://app_server;
		}
	}
}
